<div class="h-full bg-sky-100 p-6 flex scrollable-container">

    <div class="w-full max-w-md mx-auto h-full ">
        <h1 class="text-xl sm:text-2xl md:text-3xl font-bold text-center mb-6 text-blue-800">
            Choose Your Area
        </h1>
        <div class="grid grid-cols-2 sm:grid-cols-3 gap-6">
            <!-- Booking -->
            <p-card *ngIf="hasPageAccess(1)"
                class="p-4 rounded-2xl flex flex-col items-center justify-center cursor-pointer transform hover:scale-110 transition-all duration-300"
                [ngClass]="{'bg-[#4A90E2] text-white shadow-xl scale-105': selectedCard === 'booking', 'bg-white text-blue-700 hover:bg-blue-100': selectedCard !== 'booking'}"
                (click)="selectCard('booking')">
                <i class="pi pi-calendar text-3xl mb-2"></i>
                <p class="text-lg font-semibold text-center">Booking</p>
            </p-card>

            <!-- Booking Status -->
            <p-card *ngIf="hasPageAccess(1)"
                class="p-4 rounded-2xl flex flex-col items-center justify-center cursor-pointer transform hover:scale-110 transition-all duration-300"
                [ngClass]="{'bg-[#4A90E2] text-white shadow-xl scale-105': selectedCard === 'booking-status', 'bg-white text-blue-700 hover:bg-blue-100': selectedCard !== 'booking-status'}"
                (click)="selectCard('booking-status')">
                <i class="pi pi-check-circle text-3xl mb-2"></i>
                <p class="text-lg font-semibold text-center">Booking List</p>
            </p-card>

            <!-- Booking resive -->
            <p-card *ngIf="hasPageAccess(1)"
                class="p-4 rounded-2xl flex flex-col items-center justify-center cursor-pointer transform hover:scale-110 transition-all duration-300"
                [ngClass]="{'bg-[#4A90E2] text-white shadow-xl scale-105': selectedCard === 'booking-Received', 'bg-white text-blue-700 hover:bg-blue-100': selectedCard !== 'booking-Received'}"
                (click)="selectCard('booking-Received')">
                <i class="pi pi-check-circle text-3xl mb-2"></i>
                <p class="text-lg font-semibold text-center">Booking Received</p>
            </p-card>

            <!-- Company Master -->
            <p-card *ngIf="hasPageAccess(5)"
                class="p-4 rounded-2xl flex flex-col items-center justify-center cursor-pointer transform hover:scale-110 transition-all duration-300"
                [ngClass]="{'bg-[#4A90E2] text-white shadow-xl scale-105': selectedCard === 'company', 'bg-white text-blue-700 hover:bg-blue-100': selectedCard !== 'company'}"
                (click)="selectCard('company')">
                <i class="pi pi-building text-3xl mb-2"></i>
                <p class="text-lg font-semibold text-center">Company Master</p>
            </p-card>
            <p-card *ngIf="hasPageAccess(11)"
                class="p-4 rounded-2xl flex flex-col items-center justify-center cursor-pointer transform hover:scale-110 transition-all duration-300"
                [ngClass]="{'bg-[#4A90E2] text-white shadow-xl scale-105': selectedCard === 'manifest', 'bg-white text-blue-700 hover:bg-blue-100': selectedCard !== 'manifest'}"
                (click)="selectCard('manifest')">
                <i class="pi pi-sitemap text-3xl mb-2"></i>
                <p class="text-lg font-semibold text-center">Manifest</p>
            </p-card>


            <p-card *ngIf="hasPageAccess(12)"
            class="p-4 rounded-2xl flex flex-col items-center justify-center cursor-pointer transform hover:scale-110 transition-all duration-300"
            [ngClass]="{'bg-[#4A90E2] text-white shadow-xl scale-105': selectedCard === 'delivery', 'bg-white text-blue-700 hover:bg-blue-100': selectedCard !== 'delivery'}"
            (click)="selectCard('delivery')">
            <i class="pi pi-building text-3xl mb-2"></i>
            <p class="text-lg font-semibold text-center">Delivery</p>
        </p-card>


            <p-card  *ngIf="hasPageAccess(13)"
                class="p-4 rounded-2xl flex flex-col items-center justify-center cursor-pointer transform hover:scale-110 transition-all duration-300"
                [ngClass]="{'bg-[#4A90E2] text-white shadow-xl scale-105': selectedCard === 'pod-upload', 'bg-white text-blue-700 hover:bg-blue-100': selectedCard !== 'pod-upload'}"
                (click)="selectCard('pod-upload')">
                <i class="pi pi-building text-3xl mb-2"></i>
                <p class="text-lg font-semibold text-center">Upload Pod</p>
            </p-card>


         

            <p-card
                class="p-4 rounded-2xl flex flex-col items-center justify-center cursor-pointer transform hover:scale-110 transition-all duration-300"
                [ngClass]="{'bg-[#4A90E2] text-white shadow-xl scale-105': selectedCard === 'master', 'bg-white text-blue-700 hover:bg-blue-100': selectedCard !== 'master'}"
                (click)="selectCard('master')">
                <i class="pi pi-building text-3xl mb-2"></i>
                <p class="text-lg font-semibold text-center">Master</p>
            </p-card>

            <!-- Tracking -->
            <p-card
                class="p-4 rounded-2xl flex flex-col items-center justify-center cursor-pointer transform hover:scale-110 transition-all duration-300"
                [ngClass]="{'bg-[#4A90E2] text-white shadow-xl scale-105': selectedCard === 'tracking', 'bg-white text-blue-700 hover:bg-blue-100': selectedCard !== 'tracking'}"
                (click)="selectCard('tracking')">
                <i class="pi pi-map-marker text-3xl mb-2"></i>
                <p class="text-lg font-semibold text-center">Tracking</p>
            </p-card>


        </div>
    </div>
</div>