<form class="sticky top-0 bg-blue-300 z-10 shadow-md p-1" [formGroup]="bookingStatusForm">
    <div class="grid grid-cols-3 items-center gap-1">
        <p-datepicker formControlName="bookingDate" placeholder="Select Date" (onSelect)="filterBookingList()"
            inputStyleClass="w-full sm:w-64 md:w-80 lg:w-96">
        </p-datepicker>
        <!-- Branch Dropdown -->
        <!-- <p-dropdown [filter]="true" [options]="branches" optionLabel="branch_name" optionValue="branch_id"  [showClear]="true"
            (onChange)="filterBookingList()" formControlName="destination_id" placeholder="Select Branch"
            class="w-full">
        </p-dropdown> -->
        <p-dropdown [filter]="true" [options]="branches" optionLabel="branch_name" optionValue="branch_id"
            formControlName="destination_id" placeholder="Select Branch" class="w-full" [showClear]="true"
            (onChange)="filterBookingList()">
        </p-dropdown>


        <!-- City Autocomplete -->
        <p-autoComplete [(ngModel)]="selectedCity" [ngModelOptions]="{ standalone: true }"
            [suggestions]="filteredCities" (completeMethod)="searchCity($event)" [field]="'city_name'"
            placeholder="Search City" (onSelect)="onCitySelect($event)" (ngModelChange)="onCityInputChange($event)"
            inputStyleClass="w-full">
        </p-autoComplete>

    </div>
</form>

<div *ngIf="bookingList"
    class="flex flex-col bg-gradient-to-br from-blue-100 to-blue-50 py-3 min-h-screen overflow-auto pb-[500px]"
    style="max-height: 100vh;" (scroll)="onScroll($event)">
    <!-- booking-card.component.html -->
    <div *ngFor="let booking of filteredBookingsInventory"
        class=" bg-white shadow-md rounded-2xl p-5 mb-6 border border-gray-200 m-4">
        <div class="flex justify-between items-center mb-3">
            <h2 class="text-lg font-bold tracking-wide">Slip No: <span class="text-black">{{ booking.slip_no }}</span>
            </h2>
        </div>

        <div class="border-b border-gray-300 mb-4"></div>

        <div class="grid grid-cols-2 gap-4 mb-2">
            <div>
                <p class="text-sm font-semibold text-gray-600">Booking Date</p>
                <p class="text-lg font-bold text-black"> {{ booking.created_at | date: 'dd-MM-yyyy' }}</p>
            </div>
            <div>
                <p class="text-sm font-semibold text-gray-600">Booking Time</p>
                <p class="text-lg font-bold text-black"> {{ booking.created_at | date: 'HH:mm' }}</p>
            </div>
        </div>

        <div class="grid grid-cols-2 gap-4 mb-2">
            <!-- Branch -->
            <div>
                <p class="text-blue-600 font-medium flex items-center">
                    <i class="pi pi-building mr-1 text-green-600"></i> Branch:
                    {{ booking.destination_branch_name }}
                </p>
            </div>

            <!-- City -->
            <div>
                <p class="flex items-center text-black">
                    <i class="pi pi-map-marker mr-1 text-purple-600"></i> City:
                    {{ getCityName(booking.destination_city_id) }}
                </p>
            </div>
        </div>


        <div class="flex items-center gap-4 mt-3">
            <div class="flex items-center text-sm text-gray-600">
                <i class="pi pi-truck text-lg mr-2 text-gray-700"></i>
                <span class="text-black font-medium">Transport Mode:</span> <span class="ml-1 font-semibold">{{
                    getTransportModeLabel(booking.transport_mode) }}</span>
            </div>
            <div class="text-sm text-black font-medium">
                <div *ngIf="booking.to_pay == 1" [ngClass]="{
                'bg-green-100 text-green-800': booking.paid_type === 'Prepaid',
                'bg-yellow-100 text-yellow-800': booking.paid_type === 'COD'
              }" class="px-4 py-2 rounded-full text-sm font-medium">
                    <i class="pi pi-wallet mr-2"></i> toPay
                </div>
            </div>
            <div class="text-sm text-black font-medium">
                <div *ngIf="booking.on_account == 1"
                    class="px-4 py-2 rounded-full text-sm font-medium bg-yellow-100 text-yellow-800">
                    <i class="pi pi-wallet mr-2"></i> On Acc
                </div>
            </div>
        </div>

        <div class="mt-3 bg-gray-50 p-3 rounded-lg">
            <p class="text-sm text-gray-700 flex items-center mb-1">
                <i class="pi pi-user mr-2 text-blue-600"></i>
                <span class="font-semibold">Consignee:</span> {{ booking.consignee_name | uppercase }} ({{
                booking.consignee_mobile |
                uppercase
                }})
            </p>
            <p class="text-sm text-gray-700 flex items-center">
                <i class="pi pi-user mr-2 text-red-600"></i>
                <span class="font-semibold">Consignor:</span> {{ booking.consignor_name | uppercase }} ({{
                booking.consignor_mobile |
                uppercase
                }})
            </p>
        </div>

        <div class="mt-3 flex items-center">
            <div class="bg-green-100 text-green-800 font-bold text-sm px-4 py-1 rounded-full">
                ₹{{ booking.total_value }}
            </div>
        </div>

        <div class="flex justify-between items-center mt-5 border-t pt-4 gap-2">
            <div class="flex space-x-2">
                <button class="bg-red-500 hover:bg-red-600 text-white px-4 py-1 rounded-lg text-sm font-semibold"
                    (click)="cancelOder(booking.booking_id)">
                    <i class="pi pi-times mr-1"></i> Cancel
                </button>
                <button class="bg-yellow-400 hover:bg-yellow-500 text-black px-4 py-1 rounded-lg text-sm font-semibold"
                    (click)="editBooking(booking)">
                    <i class="pi pi-pencil mr-1"></i> Edit
                </button>
            </div>
            <div class="flex space-x-2">
                <button class="bg-gray-600 hover:bg-gray-700 text-white px-4 py-1 rounded-lg text-sm font-semibold"
                    (click)="gateBranchByid(booking, 'print')">
                    <i class="pi pi-print mr-1"></i> Print
                </button>
                <button class="bg-blue-600 hover:bg-blue-700 text-white px-4 py-1 rounded-lg text-sm font-semibold"
                    (click)="gateBranchByid(booking,'download')">
                    <i class="pi pi-download mr-1"></i> Download
                </button>
            </div>
        </div>
    </div>

</div>