
label{
    margin-bottom: 6px !important;
  }
  
  
  .bg-color {
    background-color: #a7c7e3;
    padding: 5px;
    border-radius: 5px;
  }
  
  label{
    color: #0e0e10;
    font-weight: bold;
  }
  
  b{
    color: #0e0e10;
    font-weight: bold;
  }
  
  th{
    color: #0e0e10;
    font-weight: bold;
  }
  .disabled {
    opacity: 0.5;
    pointer-events: none;
  }
  
  
  
  
  input {
    height: 40px;
    border: 1px solid #439ad3; 
    
    outline: none;
  }
  
  ::ng-deep .p-dropdown.p-component {
    height: 40px;
    border: 1px solid #439ad3 !important;
    padding: 5px;
    outline: none;
    border-radius: 4px; 
  }
  
  ::ng-deep .p-dropdown .p-dropdown-label {
    height: 100%;
    line-height: 40px;
  }
  
  ::ng-deep .p-dropdown-panel {
    border: 1px solid #439ad3 !important;
  }
  
  ::ng-deep .p-autocomplete input {
    height: 40px;
    border: 1px solid #439ad3;
    outline: none;
  }
  
  
  
  
  