 <div class="sticky top-0 bg-blue-300 z-10 shadow-md">
    <h2 class="text-2xl font-bold m-0 py-1 px-4  text-gray-800 text-left border-b border-gray-300">
        Booking</h2>
</div>
<div class="p-4 bg-sky-100 rounded-lg shadow-md space-y-4 m-0 scrollable-container h-full">
    <!-- Slip and Consignor Details -->

    <form [formGroup]="bookingForm">
        <div class="grid grid-cols-2 gap-4 my-2">

            <div class="flex flex-col">
                <label for="slipNo" class="font-medium flex items-center">
                    <i class="pi pi-file text-blue-600 mr-2"></i>
                    <span [ngClass]="{'text-blue-600': branchInfo?.branch_short_name, 'text-gray-400': !branchInfo?.branch_short_name}">
                      ({{ branchInfo?.branch_short_name }})
                    </span>
                    Slip No <span class="text-red-500">*</span>

                </label>
                <input pInputText id="slipNo" formControlName="slip_no" type="number" class="p-inputtext p-component" />
            </div>

            <div class="flex flex-col">
                <label for="consignor" class="font-medium flex items-center">
                    <i class="pi pi-user text-green-600 mr-2"></i> Consignor <span class="text-red-500">*</span>
                </label>

                <p-autocomplete
                    id="consignor"
                    formControlName="consignor_name"
                     [suggestions]="listOfConnersAndConsignees"
                     (completeMethod)="search($event)"
                     [inputStyle]="{'text-transform': 'uppercase'}"
                     field="consignor_name"
                     (onSelect)="onConsignorSelect($event)"
                    />

                <small
                    *ngIf="bookingForm.controls['consignor_name'].hasError('required') && bookingForm.controls['consignor_name'].touched"
                    class="text-red-500">
                    Consignor Name is required.
                </small>
                <small
                    *ngIf="bookingForm.controls['consignor_name'].hasError('pattern') && bookingForm.controls['consignor_name'].touched"
                    class="text-red-500">
                    Invalid Consignor name
                </small>
            </div>
        </div>

        <div class="grid grid-cols-2 gap-4 my-2">

            <div class="flex flex-col">
                <label for="consignorMobile" class="font-medium flex items-center">
                    <i class="pi pi-phone text-purple-600 mr-2"></i> Consignor Mobile
                </label>
                <p-autocomplete
                    id="consignorMobile"
                    inputMode="numeric"
                    formControlName="consignor_mobile"
                     [suggestions]="listOfConnersAndConsignees"
                     (completeMethod)="search($event)"
                     field="consignor_mobile"
                     (onSelect)="onConsignorSelect($event)"
                />
                <small
                    *ngIf="bookingForm.controls['consignor_mobile'].hasError('required') && bookingForm.controls['consignor_mobile'].touched"
                    class="text-red-500">
                    Consignor Mobile is required.
                </small>
                <small
                    *ngIf="bookingForm.controls['consignor_mobile'].hasError('pattern') && bookingForm.controls['consignor_mobile'].touched"
                    class="text-red-500">
                    Invalid Mobile Number
                </small>
            </div>

            <div class="flex flex-col">
                <label for="consignee" class="font-medium flex items-center">
                    <i class="pi pi-user text-red-600 mr-2"></i> Consignee <span class="text-red-500">*</span>
                </label>

                <p-autocomplete
                formControlName="consignee_name"
                 [suggestions]="listOfConnersAndConsignees"
                 (completeMethod)="search($event)"
                 [inputStyle]="{'text-transform': 'uppercase'}"
                 field="consignee_name"
                 (onSelect)="onConsigneeSelect($event)"
                />

                <small
                    *ngIf="bookingForm.controls['consignee_name'].hasError('required') && bookingForm.controls['consignee_name'].touched"
                    class="text-red-500">
                    Consignee is required.
                </small>
                <small
                    *ngIf="bookingForm.controls['consignee_name'].hasError('pattern') && bookingForm.controls['consignee_name'].touched"
                    class="text-red-500">
                    Invalid Consignee name
                </small>
            </div>
        </div>

        <!-- Contact Details -->
        <div class="grid grid-cols-2 md:grid-cols-3 gap-4 mb-2">

            <div class="flex flex-col">
                <label for="consigneeMobile" class="font-medium flex items-center">
                    <i class="pi pi-phone text-yellow-600 mr-2"></i> Consignee Mobile
                </label>

                <p-autocomplete
                    inputMode="numeric"
                    formControlName="consignee_mobile"
                     [suggestions]="listOfConnersAndConsignees"
                     (completeMethod)="search($event)"
                     field="consignee_mobile"
                     (onSelect)="onConsigneeSelect($event)"
                />

                <small
                    *ngIf="bookingForm.controls['consignee_mobile'].hasError('required') && bookingForm.controls['consignee_mobile'].touched"
                    class="text-red-500">
                    Consignee Mobile is required.
                </small>
                <small
                    *ngIf="bookingForm.controls['consignee_mobile'].hasError('pattern') && bookingForm.controls['consignee_mobile'].touched"
                    class="text-red-500">
                    Invalid Mobile Number
                </small>
            </div>
        </div>
        <!-- <p-divider align="left" type="solid" class="border-blue-400">
            <div class="inline-flex items-center bg-cyan-400 text-white px-3 py-1 rounded-lg shadow-md">
                <i class="pi pi-clone mr-2"></i>
                <b>Transport Details:</b>
            </div>
        </p-divider> -->

        <div class="grid grid-cols-2 gap-4 my-2">
            <!-- Branch Selection -->
            <div class="flex-1">
                <label for="branches" class="font-medium flex items-center">
                    <i class="pi pi-building text-gray-500 mr-2"></i> Branch <span class="text-red-500">*</span>
                </label>
                <p-dropdown [filter]="true" [options]="branches" formControlName="destination_branch_id"  optionLabel="branch_name" optionValue="branch_id"
                    placeholder="Select Branch" class="w-full">
                </p-dropdown>
                <small
                    *ngIf="bookingForm.controls['destination_branch_id'].hasError('required') && bookingForm.controls['destination_branch_id'].touched"
                    class="text-red-500">
                    Please select a Branch
                </small>
            </div>

            <!-- City Selection -->
            <div class="flex-1">
                <label for="cities" class="font-medium flex items-center">
                    <i class="pi pi-map-marker text-red-500 mr-2"></i> City <span class="text-red-500">*</span>
                </label>
                <p-autoComplete [(ngModel)]="selectedCity" formControlName="destination_city_id"
                    [suggestions]="filteredCities" (completeMethod)="searchCity($event)" optionLabel="city_name"
                    placeholder="Search and Select a City" (onSelect)="onCitySelect($event)" class="w-full">
                </p-autoComplete>
                <small
                    *ngIf="bookingForm.controls['destination_city_id'].hasError('required') && bookingForm.controls['destination_city_id'].touched"
                    class="text-red-500">
                    Please select a city
                </small>
            </div>
        </div>
        <!-- Transport Details -->
        <div class="flex items-center gap-4 mt-2">
            <!-- Transport Mode Dropdown -->
            <div class="flex-1">
                <label class="font-medium flex items-center">
                    <i class="pi pi-truck text-green-600 mr-2"></i> Transport Mode <span class="text-red-500">*</span>
                </label>
                <p-dropdown [options]="transportModes" formControlName="transport_mode"
                    [(ngModel)]="selectedTransportMode" placeholder="Select Transport Mode" class="w-full"></p-dropdown>
                <small
                    *ngIf="bookingForm.controls['transport_mode'].hasError('required') && bookingForm.controls['transport_mode'].touched"
                    class="text-red-500">
                    Please select a transport mode
                </small>
            </div>

            <!-- Checkbox (50% width) -->
            <div class="flex-1 flex items-center justify-center">
                <p-checkbox inputId="toPayCheckbox"   binary="true" name="toPay" formControlName="to_pay" value="Cheese" (onChange)="calculateTotal()"></p-checkbox>
                <label for="toPayCheckbox" class="ml-2"> To Pay </label>
            </div>
        </div>



        <!--
        <p-divider align="left" type="solid" class="border-blue-400">
            <div class="inline-flex items-center bg-cyan-400 text-white px-3 py-1 rounded-lg shadow-md">
                <i class="pi pi-clone mr-2"></i>
                <b>Package Details:</b>
            </div>
        </p-divider> -->

        <!-- Package Details -->
        <div class="grid grid-cols-4 gap-4" style="margin-top: 10px;">
            <div class="flex flex-col">
                <label for="packages" class="font-medium flex items-center">
                    No Pack <span class="text-red-500">*</span>
                </label>
                <input pInputText id="packages" formControlName="package_count" type="number" class="p-inputtext p-component" />
                <small
                    *ngIf="bookingForm.controls['package_count'].hasError('required') && bookingForm.controls['package_count'].touched"
                    class="text-red-500">
                    No of Packages is required.
                </small>
                <small
                    *ngIf="bookingForm.controls['package_count'].hasError('pattern') && bookingForm.controls['package_count'].touched"
                    class="text-red-500">
                    Invalid Packages
                </small>
            </div>
            <div class="flex flex-col">
                <label for="weight" class="font-medium flex items-center">
                    <i class="pi pi-weight text-gray-600 mr-2"></i> Weight <span class="text-red-500">*</span>
                </label>
                <input pInputText id="weight" formControlName="package_weight" placeholder="KG" type="number" (input)="onCalculate()"
                    class="p-inputtext p-component" />
                <small
                    *ngIf="bookingForm.controls['package_weight'].hasError('required') && bookingForm.controls['package_weight'].touched"
                    class="text-red-500">
                    Weight is required.
                </small>
                <small
                    *ngIf="bookingForm.controls['package_weight'].hasError('pattern') && bookingForm.controls['package_weight'].touched"
                    class="text-red-500">
                    Invalid Weight
                </small>
            </div>
            <div class="flex flex-col">
                <label for="charges" class="font-medium flex items-center">
                    Charges/KG <span class="text-red-500">*</span>
                </label>
                <input pInputText id="charges" formControlName="package_value" type="number" class="p-inputtext p-component" (input)="onCalculate()"/>
                <small
                    *ngIf="bookingForm.controls['package_value'].hasError('required') && bookingForm.controls['package_contents'].touched"
                    class="text-red-500">
                    Charges is required.
                </small>
                <small
                    *ngIf="bookingForm.controls['package_contents'].hasError('pattern') && bookingForm.controls['package_contents'].touched"
                    class="text-red-500">
                    Invalid format
                </small>
            </div>

            <div class="flex flex-col">
                <label for="charges" class="font-medium flex items-center">
                    Amount <span class="text-red-500">*</span>
                </label>
                <input pInputText type="number" formControlName="amount" class="p-inputtext p-component"  (input)="onCalculate()"/>
            </div>
        </div>

        <!-- Additional Details -->
        <div class="grid grid-cols-3 gap-4 my-2">
            <div class="flex flex-col">
                <label for="shipper" class="font-medium flex items-center">
                    <i class="pi pi-send text-blue-500 mr-2"></i> Shipper
                </label>
                <input pInputText id="shipper" formControlName="shipper_charges" type="number" class="p-inputtext p-component" min="5" (input)="onCalculate()" />
                <small
                    *ngIf="bookingForm.controls['shipper_charges'].hasError('pattern') && bookingForm.controls['shipper_charges'].touched"
                    class="text-red-500">
                    Invalid format
                </small>
            </div>

            <div class="flex flex-col">
                <label for="other_charges" class="font-medium flex items-center">
                    <i class="pi pi-file text-gray-600 mr-2"></i> Other
                </label>
                <input pInputText formControlName="other_charges" type="number" class="p-inputtext p-component"  (input)="onCalculate()"/>
                <small
                    *ngIf="bookingForm.controls['other_charges'].hasError('pattern') && bookingForm.controls['other_charges'].touched"
                    class="text-red-500">
                    Invalid format
                </small>
            </div>
            <div class="flex flex-col">
                <label for="declaredValue" class="font-medium flex items-center">
                    Declared Value
                </label>
                <input pInputText id="declaredValue" formControlName="declared_value" type="number"
                    class="p-inputtext p-component"  (input)="onCalculate()" />
                <small
                    *ngIf="bookingForm.controls['declared_value'].hasError('pattern') && bookingForm.controls['declared_value'].touched"
                    class="text-red-500">
                    Invalid Declared Value
                </small>
            </div>
        </div>

        <!-- Tax Details -->
        <div class="grid grid-cols-3 gap-4">
            <div class="flex flex-col">
                <label for="cgst" class="font-medium flex items-center">
                    <i class="pi pi-percentage text-red-600 mr-2"></i> CGST
                </label>
                <input pInputText id="cgst" formControlName="cgst" type="number" class="p-inputtext p-component"  (input)="onCalculate()"/>
                <small *ngIf="bookingForm.controls['cgst'].hasError('required') && bookingForm.controls['cgst'].touched"
                    class="text-red-500">
                    CGST is required.
                </small>
                <small *ngIf="bookingForm.controls['cgst'].hasError('pattern') && bookingForm.controls['cgst'].touched"
                    class="text-red-500">
                    Invalid format
                </small>
            </div>
            <div class="flex flex-col">
                <label for="sgst" class="font-medium flex items-center">
                    <i class="pi pi-percentage text-yellow-600 mr-2"></i> SGST
                </label>
                <input pInputText id="sgst" formControlName="sgst" type="number" class="p-inputtext p-component"  (input)="onCalculate()"/>
                <small *ngIf="bookingForm.controls['sgst'].hasError('required') && bookingForm.controls['sgst'].touched"
                    class="text-red-500">
                    SGST is required.
                </small>
                <small *ngIf="bookingForm.controls['sgst'].hasError('pattern') && bookingForm.controls['sgst'].touched"
                    class="text-red-500">
                    Invalid format
                </small>
            </div>
            <div class="flex flex-col">
                <label for="igst" class="font-medium flex items-center">
                    <i class="pi pi-percentage text-green-600 mr-2"></i> IGST
                </label>
                <input pInputText id="igst" formControlName="igst" type="number" class="p-inputtext p-component"  (input)="onCalculate()"/>
                <small *ngIf="bookingForm.controls['igst'].hasError('required') && bookingForm.controls['igst'].touched"
                    class="text-red-500">
                    IGST is required.
                </small>
                <small *ngIf="bookingForm.controls['igst'].hasError('pattern') && bookingForm.controls['igst'].touched"
                    class="text-red-500">
                    Invalid format
                </small>
            </div>
        </div>

        <!-- Total Amount -->
        <div class="flex items-center gap-4 mt-2">
            <!-- Total Input Field -->
            <div class="flex-1">
                <label for="total" class="font-medium flex items-center">
                    <i class="pi pi-calculator text-blue-600 mr-2"></i> Total <span class="text-red-500">*</span>
                </label>
                <input pInputText id="total" formControlName="total_value" type="number"
                    class="p-inputtext p-component w-full" />
                <small
                    *ngIf="bookingForm.controls['total_value'].hasError('required') && bookingForm.controls['total_value'].touched"
                    class="text-red-500">
                    Total is required.
                </small>
                <small
                    *ngIf="bookingForm.controls['total_value'].hasError('pattern') && bookingForm.controls['total_value'].touched"
                    class="text-red-500">
                    Invalid format
                </small>
            </div>
            <!-- Account Yes/No Radio Buttons -->
            <div class="flex-1 flex items-center justify-center">
                <label class="font-medium p-4">On Account:</label>
                <p-checkbox inputId="onAccountCheckbox" name="onAccount" binary="true"  formControlName="on_account" value="Cheese" (onChange)="calculateTotal()"></p-checkbox>
            </div>
        </div>


        <!-- Submit Button -->
        <div class="w-full flex justify-center mt-6">
            <button
                class="bg-gradient-to-r from-green-500 to-teal-500 text-white px-4 py-2 rounded-lg w-full shadow-md transition-all hover:scale-105 hover:bg-green-700"
                (click)="saveBooking()">
                Save
            </button>
        </div>
    </form>
</div>
