/* You can add global styles to this file, and also import other style files */
@use './tailwind.css';
@use './assets/layout/layout.scss';
@use 'primeicons/primeicons.css';
@use './assets/demo/demo.scss';

* {
    padding: 0;
    margin: 0;
    box-sizing: border-box;

    &::-webkit-scrollbar {
        display: none;
    }

    &::-webkit-scrollbar {
        display: none;
    }
}

html,
body {
    height: 100% !important;
    width: 100% !important;
}

@media (max-width: 768px) {
    .not-for-mobile {
        display: none !important;
    }
}

.rubik-maps-regular {
    font-family: "Rubik Maps", system-ui;
    font-weight: 400;
    font-style: normal;
}